
.DS_Store

# environment variables:
.env

# virtual environment:
.venv/

# cache files:
__pycache__/
.pytest_cache

# data downloads:
sb1.zip
sb1/

# jupyter notebook checkpoints:
smart_control/notebooks/.ipynb_checkpoints/

# documentation site:
docs_site

# results files:
*/**/output_data/
*/**/metrics/
**/videos/
**/train/
**/eval/
smart_control/learning/
smart_control/simulator/videos
smart_control/refactor/data/
smart_control/refactor/experiment_results/
smart_control/old/
smart_control/configs/resources/sb1/generated_configs/
smart_control/reinforcement_learning/data/
smart_control/reinforcement_learning/experiment_results/
smart_control/reinforcement_learning/eval_results/
smart_control/reinforcement_learning/test.py
smart_control/reinforcement_learning/test.ipynb
smart_control/reinforcement_learning/plots/
